*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bkg: linear-gradient(to top, #0f0915, #050307);
  --dark: #050307;
  --text: #f9f6fe;
  --accent: #4233e4;
  --primary-color: #333;
  --secondary-color: #444;
  --alt-color:#26dc60;
  --overlay: rgba(0,0,0,0.8);
  --container-width: 90vw;
 
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: clamp(1.1rem, 2vw + 1rem, 1.4rem);
  line-height: 1.55;
  background: var(--bkg);
  color: var(--text);
  background-image: url("Fotos/fondo-abstracto-blanco-minimalista_23-2148816119.jpeg");
  background-size: cover;
  background-repeat: no-repeat;



}
.Banner1 {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  }

nav {
  position: relative;
  z-index: 10;
  width: 100%;
  padding-block: 1.2rem;
  background-color: black;
  transition: background-color 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);

}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.nav-link:focus-visible {
  outline: 4px solid var(--accent);
  outline-offset: 0.2em;
  border-radius: 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  transform: translate3d(0, -200%, 0);
  position: absolute;
  z-index: -1;
  top: 3rem;
  left: 0;
  right: 0;
  background-color: var(--dark);
  padding: 1.5rem;
  border-bottom: 4px solid var(--accent);
  text-align: center;
}

.nav-container ul li a:hover{
  color: rgb(34, 215, 14);
}


.btn {
  color: var(--text);
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}



.btn--menu {
  color: #fff;
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

li[role="none"],
.nav-link {
  width: 100%;
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.btn--menu[aria-expanded="true"] {
  transform: rotate(-180deg);
}

.btn--menu[aria-expanded="true"] + .nav-links {
  transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
  .btn--menu {
    display: none;
  }
  .nav-links {
    position: static;
    transform: translate3d(0, 0, 0);
    flex-direction: row;
    border: 0;
    z-index: 0;
    padding: 0;
    inset: 0;
    background-color: transparent;
  }
  li[role="none"],
  .nav-link {
    width: initial;
  }
}
/* presentacion */

.Presentacion{
  width: 300px;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #afdebe;
}

.card__image {
  width: 250px;
  border-radius: 50%;
  margin: 10px;

}
.card__name{
font-size:35px ;
color: #000;

}    
.card__profession{
  font-size: 20px;
  color: #000;

}

.texto_bienvenida{
  font-size:25px;
  text-align:left;
  margin:5%;
  color: #000;

}
@media (max-width:750px){
  .card__name{
    font-size:25px ;
    color: #000;
    
    }    
    .card__profession{
      font-size: 20px;
      color: #000;
    
    }
    
    .texto_bienvenida{
      font-size:20px;
      text-align:left;
      margin:5%;
      color: #000;
    
    }
  }


/* footer */
.footer{
  background-color: #000;
  color: #fff;
  padding: 4rem 0;
  width: 100%;
}

.footer .container{
  display: flex;
  justify-content: center;
}

.social-media .fab{
  margin-right: 20px;
  font-size: 1em;
  color:var(--alt-color)
}
.social-media .fab:hover{
  color: var(--primary-color);
}
.social-media h2{
  font-size: 1.5rem;
}


.info a:hover{
 color: var(--primary-color);
}
.blog a:hover{
 color: var(--primary-color);
}

/* pagina HTML Y CSS */

.container-cards{
display: flex;
flex-direction: row;
margin: 100px;


}

.apuntes_html{
  font-size:25px;
  text-align:left;
  margin:5%;
  color: #000;

  
}
.card_html{
    width: 100%;
    }

.links_pdf-1{
    font-size: 20px;
    background-color: #afdebe;
    width: 460px;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 3em;
    padding: 0.8rem;
    text-align: left;

}
.links_pdf-1 a {
  text-decoration: none;
  color: #000;
}

.links_pdf-1 a:hover{
  color: #dc5426;
 

}

.card_html2{
    width: 100%;
    }

.links_pdf-2{
    font-size: 20px;
    background-color: #afdebe;
    width: 460px;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 3em;
    padding: 0.8rem;
    text-align: left;

}
.links_pdf-2 a{
  text-decoration: none;
  color: #000;
}
.links_pdf-2 a:hover{
  color: #dc5426;

}

.card_html3{
    width: 100%;
    }

.links_Recursos{
    font-size: 20px;
    background-color: #afdebe;
    width: 460px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: em;
    margin-bottom: 3em;
    padding: 0.8rem;
    text-align: left;

}

.links_Recursos a{
text-decoration: none;
color: #000;

}

.links_Recursos a:hover{
  color: #dc5426;

}

hr{
  margin-top: 10px;
}
@media (max-width:750px){
  .container-cards{
    display: flex;
    flex-direction: column;
    margin: 0;
    }
    
    .apuntes_html{
      font-size:20px;
      
    
      
    }
    
    .links_pdf-1{
        font-size: 20px; 
        width: 100%;
        margin-left: 0;
       
    
    }
    .card_html2{
        width: 100%;
        }
    
    .links_pdf-2{
        font-size: 20px;
        width: 100%;
        margin-left: 0px;
   
    
    }
    
    
    .links_Recursos{
        font-size: 20px;
        width: 100%;
        margin-left: 0;

       
    
    }
}

/* page Javascript */

.content{
  margin-left: 100px;
}

.container-content{
  display: flex;
  margin: 0 auto;
  margin-left: 100px;
}

.PresentaciónJS{
  font-size:25px;
  text-align:left;
  margin: 5%;
  color: #000;
  }

.box_desarrollo{
width: 100%;
font-size: 25px;
margin-left: px;
margin-bottom: 3em;
padding: 0.8rem;
color: #000;

}
.box_desarrollo a{
text-decoration: none;
color: #000;

}

.box_desarrollo a:hover{
  color: #dc5426;
}

.ArbolDesarrollo{
width: 100%;
font-size: 25px;
width: 400px;
margin-right: auto;
margin-bottom: 3em;
padding: 0.8rem;
text-align: left;
color: #000;

  }
.box_Katas{
width: 100%;
font-size: 25px;
margin-left: 10px;
margin-bottom: 3em;
padding: 0.8rem;
color: #000;
      
}

.box_Katas a{
text-decoration: none;
color: #000;


}
.box_Katas a:hover{
color: #dc5426;
}
      
.Karate_kata{
font-size: 25px;
width: 42%;
margin-right: auto;
margin-top: 1em;
margin-bottom: 3em;
padding: 0.8rem;
text-align: left;
color: #000;

       }
.box_Recursos{
  width: 300px;
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #afdebe;

}

.Recursos__image{
  width: 20%;
  border-radius: 50%;
  margin:0px;
}
.card__RecursosJS{
font-size:40px ;
color: #000;

}
.card__sub_recursos{
font-size: 30px;
color: #000;

}
@media (max-width:750px){
  .container-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left:0px;
}
.content{
  margin-left: 0px;
}
.PresentaciónJS{
  font-size:20px;
  
  }

.box_desarrollo{
font-size: 20px;

}
.box_Katas{
  font-size: 20px;
}
}

/* pagina recursos */


.video-content{
  display: flex;
}

  
  .title-recursos{
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px; 
    font-size: 45px;
    color: rgb(13, 13, 14);
  }
  img{
  max-width: 100%;  
  display: block; 
  
  }
  .grid2{
  display: grid;  
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;  
  }
  
  
  .contenedor-links-all{
  max-width: 800px;
  margin: 0 auto;  
  font-size: 20px;
  background-image: url("/Fotos/Fotos_recursos/Libretalinks.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 100px;
  margin-bottom: 100px;

  
  }
  
  
  .content-links{
    margin-top: 50px;
  }


  .content-links a{
    text-decoration: none;
    color: #000;
  }

  .content-links a:hover{
  color: #dc5426;

  }
  @media (max-width:750px){
    .contenedor-links-all{
     display: flex;
     flex-direction: column;
  }
  .video-content{
    display: flex;
     flex-direction: column;
  }
}

/* pagina java */

.Gif_java{
  margin: 0 auto;
}

.container-content {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;

}

.table caption {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;

}

.table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  
}

.table th, .table td {
  font-size: 16px;
  padding: 8px;
  text-align: left;
  color: #000;
  
  
}
.table td a{
  text-decoration: none;
  color: #000;
}

.table thead th{ 
  text-transform: uppercase;
  background-color: rgb(10, 9, 9);
  color: #fff;
  
}

.table tbody tr:hover {
  background-color: rgba(229, 19, 19, 0.2);
}

.table tbody td:hover {
  background-color: rgba(229, 19, 19, 0.3);
}

@media screen and (max-width: 600px) {
  .table {
      border: 0px;
  }
  .table caption {
      font-size: 22px;
  }
  .table thead {
      display: none;
  }
  .table tr {
      margin-bottom: 8px;
      border-bottom: 4px solid #ddd;
      display: block;
  }
  .table th, .table td {
      font-size: 12px;
  }
  .table td {
      display: block;
      border-bottom: 1px solid #ddd;
      text-align: right;
  }
  .table  td:last-child {
      border-bottom: 0px;
  }
  .table td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      float: left;
  }
}

/* tabla dos */

.dos{
  
    width: 90%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
    margin-bottom: 100px;
  
  }
  .dos .dos-body tr:hover {
    background-color: rgba(229, 19, 19, 0.2);
  }
  
  .dos .dos-body td:hover {
    background-color: rgba(229, 19, 19, 0.3);
  }
.dos th{
  background-color: #000;
}

/* pagina react */

.Gif_react {
  margin: 0 auto;
  width: 40%;
  padding-top: 50px;
}

/* PÁGINA CONTACTO*/

/* contacto page */


.contact-col{
  flex-basis: 48%;
  margin-bottom: 30px;
  padding: 50px;
}
.contact-col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa{
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p{
  padding: 0;
}
.contact-col div h5{
  font-size: 20px;
  margin-bottom:5px;
  color: #555;
  font-weight: 400;
}
.contact-col input,.contact-col textarea{
  width: 100%;
  padding: 15px ;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
form{
  width: 50%;
  height: 600px;
  margin: 0 auto;
  padding-top: 50px;

}
.post-image-contact img{
  width: 80vw;
  margin: 0 auto;
}
.contacto{
  margin: 50px;

}
.contacto-text{
  font-size: 3.5rem;
  color: #000;
}


#boton{
  color: #000;
  padding: 10px 30px
}
#boton:hover{
  color: #fff;
  background-color: #f44336;

}

/* PAGINA PROYECTOS*/

.texto_Proyectos{
    font-size:25px;
    text-align:left;
    margin:5%;
    color: #000;
}


.fotos_proyectos-1{
  display: flex;
  flex-direction: row;
  

}
.fotos_proyectos-1 img{
padding: 10px;
margin-bottom: 80px;
}

.title-proyectos{
color: #000;
text-align: center;

}
.title-proyectos h1{
  padding: 50px;
  font-size: 60px;
}



@media (max-width:750px){
  .fotos_proyectos-1{
    display: flex;
    flex-direction: column;
    
  }
  .title-proyectos h1{
    padding: 50px;
    font-size: 30px;
  }
}